
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
*{
margin: 0;
padding: 0;
}
html{
font-family: Poppins, 'Segoe UI',  sans-serif;
font-family: 12px;
}
body{
min-height: 100%;
background-image: url(images/signup.jpg);
background-size: cover;
background-position: right;
overflow: hidden;
}
.top{
box-sizing: border-box;
background-color: white;
height: 100vh;
width: max(40%, 600px);
padding: 10px;
border-radius: 0 22px 22px 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
h1{
font-size: 3rem;  /* 3 times than normal font */
font-weight: 800;
margin-right:-10px;

}
form{
width: min(400px, 100%) ;
margin-top: 22px;
margin-bottom: 52px;
display: flex;
flex-direction: column;
align-items: center;
gap: 111px;
}
form >div{
width:100%;
display: flex;
justify-content: left;
align-items: center;
padding:0;
}
form label{
flex-shrink: 0;
height: 52px;
width: 52px;
background-color:darkblue;
border-radius: 11px 0 0 0px;
display: flex;
justify-content: center;
align-items: center; 
}
button {
    padding: 10px 15px; /* Larger padding for button */
    font-size:10px; /* Larger font size */
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #003366; /* Darker shade on hover */
}
